# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
# Videos
# *.mp4
*.mov
*.avi

.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

*.mp4

node_modules

paocaseiro-deploy.zip

# Temp/Bug files
bug/
test_extract/
dist/
capacitor-cordova-android-plugins/
