.hero-bg-section {
    background-image: url("/hero-bg-2.png");
}

.hero-background-overlay {
    background-image: url("/hero-bg-2.png");
}

.chart-bar-dynamic {
    height: var(--bar-height, 4px);
}