@import "tailwindcss";

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

.hero-bg-section {
    background-image: url("/assets/ui/hero-bg.png");
}

.hero-background-overlay {
    background-image: url("/assets/ui/hero-bg.png");
}

.chart-bar-dynamic {
    height: var(--bar-height, 4px);
}